<h3> Jonathan Morocho </h3>
<p> Universidad Politecnica Salesiana</p>
<p>
    
    Hola, soy de Azogues y actualmente estudio en la Universidad Politécnica Salesiana (UPS). Tengo 22 años y estoy enfocado en adquirir nuevas habilidades y conocimientos para desarrollarme profesionalmente. Mi principal meta es hacer y trabajar en lo que estudio, aplicando todo lo aprendido para construir una carrera exitosa dentro de esto tambie necsito mantener el trabajo y los estudios a futuro.
</p>
<img src="https://img.freepik.com/fotos-premium/ilustracion-dibujos-animados-vectoriales-nino-libros_1240525-29659.jpg" alt="Imagen descriptiva" width="200px">
