<h3>Mision</h3>
<p> Universidad Politecnica Salesiana</p>
<p>
    La Universidad Politécnica Salesiana se compromete a formar profesionales competentes, innovadores y éticos, capaces de contribuir al desarrollo sostenible de la sociedad. A través de la investigación, la enseñanza de calidad y el servicio comunitario, buscamos fomentar el pensamiento crítico, la creatividad y el compromiso social en nuestros estudiantes, promoviendo una educación integral que combine conocimientos académicos y valores humanos.
    
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Ge6246HLa9r6GwERAAcubqhkTHC_B-_ALA&s" alt="Imagen descriptiva" width="200px">
